{% extends "base.html" %}
{% load static %}
{% block title %}
Appoinment
{% endblock title %}

{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="{% static 'js/doctor.js' %}" defer></script>
{% endblock script %}

{% block content %}
<section class="page-title bg-1">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block text-center">
          <span class="text-white">Book your Seat</span>
          <h1 class="text-capitalize mb-5 text-lg">Appoinment</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="appoinment section">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
          <div class="mt-3">
            <div class="feature-icon mb-3">
              <i class="icofont-support text-lg"></i>
            </div>
             <span class="h3">Call for an Emergency Service!</span>
              <h2 class="text-color mt-3">+84 789 1256 </h2>
          </div>
      </div>

      <div class="col-lg-8">
           <div class="appoinment-wrap mt-5 mt-lg-0 pl-lg-5">
            <h2 class="mb-2 title-color">Book an appoinment</h2>
            <p class="mb-4">Mollitia dicta commodi est recusandae iste, natus eum asperiores corrupti qui velit . Iste dolorum atque similique praesentium soluta.</p>

                  <form method="post" novalidate>
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_department">Choose Department</label>
                        {{ form.department }}
                    </div>

                    <div class="form-group">
                        <label for="id_doctor">Select Doctors</label>
                        {{ form.doctor }}
                    </div>

                    <div class="form-group">
                        <label for="id_date">Date</label>
                        {{ form.date }}
                    </div>

                    <div class="form-group">
                        <label for="id_time">Time</label>
                        {{ form.time }}
                    </div>

                    <div class="form-group">
                        <label for="id_full_name">Full Name</label>
                        {{ form.full_name }}
                    </div>

                    <div class="form-group">
                        <label for="id_phone_number">Phone Number</label>
                        {{ form.phone_number }}
                    </div>

                    <div class="form-group">
                        <label for="id_message">Your Message</label>
                        {{ form.message }}
                    </div>

                    <button type="submit" class="btn btn-primary">Make Appointment</button>
                </form>


            </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}